a {
  text-decoration: none;
}

.menu {
  width: 100%;
}

.menu-links {
  display: flex;
  justify-content: flex-end;
  button {
    margin-right: 20px;
  }
}

.capitalize {
  text-transform: none !important;
  font-size: 1rem !important;
}
