.main {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.header {
  text-align: center;
}

.normalize {
  text-transform: none !important;
  font-size: 1rem !important;
}

p {
  font-size: 1.2rem;
}

.profile {
  text-align: left !important;
  padding-left: 40px;
}

