<section class="ctn">
  <div *ngIf="!organization.id" class="loader"></div>
  <div *ngIf="organization.id">
    <div>
      <p>
        Редактировать компанию
      </p>
    </div>
    <form (submit)="submit()" [formGroup]="form">
      <input type="text" nbInput fullWidth status="primary" tabindex="1"
             placeholder="Название компании" [formControlName]="'name'">
      <span *ngIf="!form.get('name')?.valid && form.get('name')?.touched">
        Название компании должно содержать 3-32 символа и содержать буквы русского или латинского алфавита
    </span>
      <input type="text" nbInput fullWidth status="primary" tabindex="2"
             placeholder="Тип компании" [formControlName]="'type'">
      <span *ngIf="!form.get('type')?.valid && form.get('type')?.touched">
        Тип компании должен содержать 3-32 символа и содержать буквы русского или латинского алфавита
    </span>
      <button type="submit" nbButton hero status="primary" class="btn-submit" tabindex="3"
              [disabled]="!form.get('type')?.valid || !form.get('name')?.valid ||
              (form.get('name')?.value === this.organization.name && form.get('type')?.value === this.organization.type)">
        Изменить компанию
      </button>
      <div *ngIf="this.isError">
        <span>Такая компания уже есть</span>
      </div>
    </form>
  </div>
</section>
