.decision {
  border: blue 1px solid;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  div {
    p {
      padding: 0 10px;
    }
  }
}

section {
  text-align: center;
}

.btn {
  padding: 0 5px;
  button {
    display: block;
    width: 180px;
    margin: 5px 5px;
    padding: 5px 0 !important;
  }
}
