<section>
  <div *ngFor="let user of users" class="user">
    <div>
      <p>Имя пользователя: {{user.username}}</p>
      <p>Почта пользователя: {{user.email}}</p>
      <p>Полное имя пользователя: {{user.firstName + ' ' + user.lastName}}</p>
      <p>Роль: {{user.role}}</p>
      <p *ngIf="user.organization">Компания: {{user.organization.name}}</p>
    </div>
    <div>
      <ng-template [ngIf]="user.role === 'USER'">
        <button nbButton status="danger" shape="round" (click)="deleteUser(user.id)">
          Удалить
        </button>
        <button nbButton status="success" shape="round" (click)="promoteUser(user.id)">
          Повысить
        </button>
      </ng-template>
      <button nbButton status="warning" shape="round" routerLink="/users/{{user.id}}">
        Редактировать
      </button>
    </div>
  </div>
</section>
