section {
  margin: 0 auto;
  max-width: 500px;
}

.user {
  border: blue 1px solid;
  margin: 5px;
  display: flex;
  justify-content: space-between;
}
p {
  display: block;
  margin: 3px 5px;
  padding: 0;
}

button {
  display: block !important;
  width: 180px;
  margin: 5px 5px;
  padding: 5px 0 !important;
}
