<section class="login-form">
  <div>
    <p>
      Регистрация аккаунта
    </p>
  </div>
  <form (submit)="signup()" [formGroup]="signupForm">
    <input type="text" nbInput fullWidth status="primary"
           placeholder="Имя пользователя" [formControlName]="'username'">
    <span *ngIf="!signupForm.get('username')?.valid && signupForm.get('username')?.touched">
        Логин должен содержать 3-32 символа
    </span>
    <input type="password" nbInput fullWidth status="primary"
           placeholder="Пароль" [formControlName]="'password'">
    <span *ngIf="!signupForm.get('password')?.valid && signupForm.get('password')?.touched">
        Пароль должен содержать 8-32 символа
    </span>
    <button type="submit" nbButton hero status="primary"
            [disabled]="!signupForm.get('password')?.valid || !signupForm.get('username')?.valid">
      Ввойти в аккаунт
    </button>
    <div *ngIf="this.isError">
      <span>Имя пользователя уже используется</span>
    </div>
    <span>Есть аккаунт? <a routerLink="/login">Войдите</a></span>
  </form>
</section>
