<section class="ctn">
  <form (submit)="submit()" [formGroup]="form">
    <p><b>Изменяя количество месяцев или количество решений вся таблица будет удалена!!!</b></p>
    <input type="text" nbInput fullWidth status="primary" tabindex="1"
           placeholder="Количество месяцев" [formControlName]="'months'">
    <input type="text" nbInput fullWidth status="primary" tabindex="2"
           placeholder="Количество решений" [formControlName]="'decisions'">
    <input type="text" nbInput fullWidth status="primary" tabindex="3"
           placeholder="Минимальный показатель прибыли" [formControlName]="'minProfit'">
    <button type="submit" nbButton status="primary" shape="round">
      Сгенерировать таблицу
    </button>
  </form>
</section>
<div *ngIf="show" class="table">
  <table>
    <thead>
    <tr>
      <th class="first"></th>
      <ng-template ngFor let-item let-idx="index" [ngForOf]="decision.values[0].sell">
        <th></th>
        <th>
          {{idx + 1}} месяц
        </th>
        <th></th>
      </ng-template>
    </tr>
    <tr>
      <th class="first"></th>
      <ng-container *ngFor="let i of decision.values[0].sell;">
        <th *ngFor="let i of decision.values">
          {{i.name}}
        </th>
      </ng-container>
    </tr>
    </thead>
    <tr>
      <td class="first">Покупка в начале месяца</td>
      <ng-container *ngFor="let i of decision.values[0].sell; let idx = index">
        <td *ngFor="let i of decision.values; let idx2 = index">
          {{decision.values[idx2].buy[idx]}}
        </td>
      </ng-container>
    </tr>
    <tr>
      <td class="first">Дивиденды</td>
      <ng-container *ngFor="let i of decision.values[0].sell; let idx = index">
        <td *ngFor="let i of decision.values; let idx2 = index">
          {{decision.values[idx2].div[idx]}}
        </td>
      </ng-container>
    </tr>
    <tr>
      <td class="first">Продажа в конце месяца</td>
      <ng-container *ngFor="let i of decision.values[0].sell; let idx = index">
        <td *ngFor="let i of decision.values; let idx2 = index">
          {{decision.values[idx2].sell[idx]}}
        </td>
      </ng-container>
    </tr>
  </table>
</div>
