p {
  margin-bottom: 20px;
}

input {
  margin-bottom: 20px;
}

section {
  text-align: center;
  margin-bottom: 25px;
}

.month {
  text-align: center;
}

.block {
  display: block;
}

.input {
  width: 400px;
}

.description {
  margin: 20px 0 0 0 !important;
}
