<section class="ctn">
  <form (submit)="submit()" [formGroup]="form">
    <p><b>Изменяя количество месяцев или количество решений вся таблица будет удалена!!!</b></p>
    <input type="text" nbInput fullWidth status="primary" tabindex="1"
           placeholder="Количество месяцев" [formControlName]="'months'">
    <input type="text" nbInput fullWidth status="primary" tabindex="2"
           placeholder="Количество решений" [formControlName]="'decisions'">
    <button type="submit" nbButton status="primary" shape="round">
      Сгенерировать таблицу
    </button>
  </form>
  <span *ngIf="submitError">
    Введите целые числа больше 1 и меньшие 20
  </span>
</section>
<div *ngIf="show" class="table">
  <table>
    <thead>
    <tr>
      <th></th>
      <ng-template ngFor let-item let-idx="index" [ngForOf]="decision.values[0].sell" class="month">
        <th [attr.colspan]="decision.values.length">
          {{idx + 1}} месяц
        </th>
      </ng-template>
    </tr>
    <tr>
    <tr>
      <th></th>
      <ng-container *ngFor="let _ of decision.values[0].sell;">
        <th *ngFor="let _ of decision.values; let i = index">
          <input type="text" nbInput fullWidth status="primary" [(ngModel)]="decision.values[i].name">
        </th>
      </ng-container>
    </tr>
    </thead>
    <tr>
      <td>Покупка в начале месяца</td>
      <ng-container *ngFor="let _ of buy; let i = index ; trackBy:trackByFn">
        <td>
          <input type="text" nbInput fullWidth status="primary" [(ngModel)]="buy[i]">
        </td>
      </ng-container>
    </tr>
    <tr>
      <td>Дивиденды</td>
      <ng-container *ngFor="let _ of div; let i = index ; trackBy:trackByFn">
        <td>
          <input type="text" nbInput fullWidth status="primary" [(ngModel)]="div[i]">
        </td>
      </ng-container>
    </tr>
    <tr>
      <td>Продажа в конце месяца</td>
      <ng-container *ngFor="let _ of sell; let i = index ; trackBy:trackByFn">
        <td>
          <input type="text" nbInput fullWidth status="primary" [(ngModel)]="sell[i]">
        </td>
      </ng-container>
    </tr>
  </table>
  <p class="description">Минимальный показатель прибыли</p>
  <input type="text" nbInput status="primary" class="block input"
         placeholder="Минимальный показатель прибыли" [(ngModel)]="minProfit">
  <p class="description">Название решения</p>
  <input type="text" nbInput status="primary" class="block input"
         placeholder="Название решения" [(ngModel)]="name">
  <button nbButton status="primary" shape="round" (click)="makeDecision()" class="block">
    Создать решение
  </button>
  <span *ngIf="isError">
    Запполните все поля
  </span>
  <span *ngIf="addError">
    Имя решения уже используется
  </span>
</div>
