<section class="container">
  <div *ngIf="!isLoggedIn" style="text-align: center">
    <p>Для просмотра списка организаций необходимо выполнить вход</p>
    <button nbButton status="primary" shape="round" routerLink="/login">
      Войти в аккаунт
    </button>
  </div>
  <div *ngIf="isLoggedIn" style="text-align: center;">
    <div *ngIf="!user?.organization?.id" style="text-align: center;">
      <button nbButton status="primary" shape="round" routerLink="/create-company">
        Создать компанию
      </button>
    </div>
    <div>
      <button nbButton status="primary" shape="round" routerLink="/companies">
        Показать список компаний
      </button>
    </div>
    <div *ngIf="user.role === 'ADMIN'">
      <button nbButton status="primary" shape="round" routerLink="/users">
        Показать список пользователей
      </button>
    </div>
  </div>
</section>
